#Platform logic I'm keeping to myself ;)
src/platforms/cpu
src/platforms/native
src/platforms/console

# Node modules
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
